<h3>Active Users</h3>
<p *ngFor="let user of activeUsers; let i = index">
    {{ i }}: <span [style.color]="user === currentUser ? '#000' : '#ccc'"></span
    >{{ user }}
</p>
<h3>Message history</h3>
<div *ngFor="let message of messages">
    <p>{{ message.message }}</p>
    <p>{{ message.time }} @{{ message.user }}</p>
</div>
<p *ngIf="messages.length === 0">No new messages</p>
<strong *ngIf="isUserTypingInfo !== ''">{{ isUserTypingInfo }}</strong>
<br *ngIf="isUserTypingInfo !== ''" />
<input type="text" [formControl]="textInput" (keyup)="onTyping()" />
<button (click)="onSend()">Send</button>
